<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>tailscale</string>
    <key>LimitLoadToSessionType</key>
    <array>
        <string>Background</string>
        <string>LoginWindow</string>
        <string>System</string>
    </array>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/opt/tailscale/bin/tailscaled</string>
        <string>--tun=userspace-networking</string>
        <string>--socks5-server=localhost:1099</string>
        <string>--outbound-http-proxy-listen=localhost:1099</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/opt/homebrew/var/log/tailscaled.log</string>
    <key>StandardOutPath</key>
    <string>/opt/homebrew/var/log/tailscaled.log</string>
</dict>
</plist>
